.am-modal-wrap{
  display: block;
  touch-action: none;
}

.am-modal-mask{
  background: rgba(112,112,112,.2);
}

.am-modal-transparent{
  width: 3.45rem;
}

.am-modal{
  position: absolute;
  top: 2.64rem;
  left: .15rem;
}

.am-modal.am-modal-operation .am-modal-content{
  border-radius: .05rem;
}

.am-modal-content{
  background: #f09199;
}

.am-modal-button-group-v .am-modal-button{
  height: .56rem;
  line-height: .56rem;
  text-align: center !important;
  padding: 0 !important;
  color: #fff !important;
  font-size: .16rem;
  font-weight: 300;
  font-family: PingFang SC !important;
}

.am-modal-button-group-v .am-modal-button::before{
  background-color: #fff !important;
}

.am-modal-button-active{
  background: #f09199 !important;
}



.am-modal-transparent .am-modal-content{
  border-radius: .05rem;
  padding-top: .17rem;
}

.am-modal-title{
  color: #fff;
  font-size: .16rem;
  font-weight: 300;
}

.am-modal-transparent .am-modal-content .am-modal-body{
  padding: 0 .35rem .06rem;
}

.am-modal-input-container::before{
  border: 0 !important;
}

.am-modal-input{
  height: auto;
}

.am-modal-input input{
  height: .45rem;
  border-radius: .23rem;
  background: #faeaeb;
  padding-left: .21rem;
}

.am-modal-button-group-h .am-modal-button{
  height: .57rem;
  line-height: .57rem;
  text-align: center !important;
  color: #fff !important;
  font-size: .16rem;
  font-weight: 300;
  font-family: PingFang SC !important;
}

.am-modal-button-group-h::before{
  background-color: #fff !important;
}

.am-modal-button-group-h .am-modal-button:last-child::before{
  background-color: #fff !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
  line-height: .21rem !important;
  text-indent: -.08rem !important;
  color: #c4c3c3 !important;
  font-size: .15rem !important;
}